apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: k8s
spec:
  scrapeClasses:
    - name: default-k8s-cluster
      default: true
      relabelings:
        - action: replace
          targetLabel: k8s_cluster # this is the label used by kubernetes-mixin recreated dashboards
          replacement: "local"
  alerting:
    alertmanagers:
      - name: alertmanager-operated
        port: web
        apiVersion: v2
  serviceAccountName: prometheus
  serviceMonitorSelector:
    matchLabels:
      app.kubernetes.io/part-of: metrics-stack
  podMonitorSelector:
    matchLabels:
      app.kubernetes.io/part-of: metrics-stack
  ruleSelector:
    matchLabels:
      app.kubernetes.io/part-of: metrics-stack
  probeSelector:
    matchLabels:
      app.kubernetes.io/part-of: metrics-stack
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
