apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: k8s
spec:
  scrapeClasses: # needed by mixins for local queries and avoid recompile it
    - name: default-cluster
      default: true
      relabelings:
        - action: replace
          targetLabel: cluster
          replacement: "local"
          regex: ^$ # only match is cluster label is not set
          sourceLabels:
            - cluster
    - name: no-cluster-label # for CNPG metrics - sets cluster from pod label
      relabelings:
        - sourceLabels:
            - __meta_kubernetes_pod_label_cnpg_io_cluster
          targetLabel: cluster
          action: replace
  alerting:
    alertmanagers:
      - name: alertmanager-operated
        port: web
        apiVersion: v2
  serviceAccountName: prometheus
  serviceMonitorSelector:
    matchLabels:
      app.kubernetes.io/part-of: metrics-stack
  podMonitorSelector:
    matchLabels:
      app.kubernetes.io/part-of: metrics-stack
  ruleSelector:
    matchLabels:
      app.kubernetes.io/part-of: metrics-stack
  probeSelector:
    matchLabels:
      app.kubernetes.io/part-of: metrics-stack
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
