apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: cloudnative-pg
spec:
  jobLabel: app.kubernetes.io/name
  scrapeClassName: no-cluster-label
  selector:
    matchLabels:
      cnpg.io/podRole: instance
  podMetricsEndpoints:
    - port: metrics
  namespaceSelector:
    any: true
