apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: cloudnative-pg-operator
spec:
  jobLabel: app.kubernetes.io/name
  scrapeClassName: no-cluster-label
  selector:
    matchLabels:
      app.kubernetes.io/name: cloudnative-pg
  podMetricsEndpoints:
    - port: metrics
  namespaceSelector:
    matchNames:
      - cnpg-system
